<%= javascript_pack_tag 'hello_react'%>
<%= javascript_pack_tag 'call_api' %>

<div>This tool will provide you with information about the length of day, time zone and time of the sunrise and sunset in different geografical locations. Move blue point to change geografical coordinates. As a result, you will see a list of nearest cities with information above.</div>
